<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="891d8ed4-ca22-4f83-92f2-37ae36a08c18" Alias="Page Not Found Page (desc)" Level="2">
  <Info>
    <Parent>Page Not Found Page</Parent>
  </Info>
  <Translations>
    <Translation Language="da-DK">Her vælger du hvilken side der skal vises hvis der følges et dødt link, fx hvis en side er blevet slettet. Hvis ingen 404 side er valgt, vises en standard 404 side fra Umbraco.</Translation>
  </Translations>
</Dictionary>