<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="67de0380-b5ee-4420-b3a1-ff3e1087d744" Alias="URL Name (desc)" Level="2">
  <Info>
    <Parent>URL Name</Parent>
  </Info>
  <Translations>
    <Translation Language="da-DK">Her kan du overstyre navnet på siden i sidens URL. Dette gælder kun for sidens egen del af url'en, og ikke stien til siden.</Translation>
  </Translations>
</Dictionary>