<?xml version="1.0" encoding="utf-8"?>
<Content Key="c86dadcb-749c-4c7f-b01e-fbd9b107e7fd" Alias="gfds" Level="2">
  <Info>
    <Parent Key="1cba3f05-ce55-4abe-a5b9-2d0efb2144b7">Ok</Parent>
    <Path>/Ok/gfds</Path>
    <Trashed>false</Trashed>
    <ContentType>aSD</ContentType>
    <CreateDate>2023-08-23T10:26:45</CreateDate>
    <NodeName Default="gfds" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="414fdab9-ded0-4678-98cd-e80f9862c372">ASD</Template>
  </Info>
  <Properties>
    <fds>
      <Value><![CDATA[xcv]]></Value>
    </fds>
  </Properties>
</Content>