<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cba3f05-ce55-4abe-a5b9-2d0efb2144b7" Alias="Ok" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ok</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2023-08-23T10:21:16</CreateDate>
    <NodeName Default="Ok" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerNavigationPrimary>
      <Value><![CDATA[]]></Value>
    </footerNavigationPrimary>
    <footerNavigationSecondary>
      <Value><![CDATA[]]></Value>
    </footerNavigationSecondary>
    <footerSocialLinks>
      <Value><![CDATA[]]></Value>
    </footerSocialLinks>
    <mainNavigation>
      <Value><![CDATA[]]></Value>
    </mainNavigation>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <pageNotFoundPage>
      <Value><![CDATA[]]></Value>
    </pageNotFoundPage>
    <robotsTxt>
      <Value><![CDATA[]]></Value>
    </robotsTxt>
    <secondaryNavigation>
      <Value><![CDATA[]]></Value>
    </secondaryNavigation>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>