<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ecbbb72-c858-458b-ada2-39c2087f28a8" Alias="Block List" Level="1">
  <Info>
    <Name>Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "527f1e4a-574e-4d26-a584-81bd124de4db",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "6077c8ea-29c5-4379-aab2-82067969c9cc",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": "100%"
}]]></Config>
</DataType>